*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
    --white-: #fff;
    --grey-blue-: #34355B;
    --light-blue-: #E4EDF1;
    --orange-: #FF9500;
}

body{
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    font-family: "DM Sans", sans-serif;
    color: var(--grey-blue-);
}

main{
    background-color: var(--white-);
    width: min(42.8rem, 90%);
    padding: 4.8rem 6.4rem;
    border-radius: .6rem;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

main h1{
    font-family: Montserrat;
    text-align: center;
    font-size: 2.4rem;
}

.mainText{
    margin: 1.4rem 0 2.0rem;
    text-align: center;
}

.button-wrapper{
    position: relative;
}

.button-wrapper button{
    position: absolute;
    bottom: 0;
    width: 30.0rem;
    height: 20.0rem;
    cursor: pointer;
    opacity: 0;
}

.fortuneMessage{
    background: var(--light-blue-);
    padding: 1.0rem;
    margin-top: 1.7rem;
    font-family: "Dancing Script", sans-serif;
    color: #000;
    text-align: center;
    font-size: 2.4rem;
}

.screen2{
    display: flex;
    flex-direction: column;
}

.screen2 img{
    margin: 6.0rem 0 ;
}

#btnAgain{
    background: var(--orange-);
    border: none;
    padding: 1.6rem;
    color: var(--white-);
    border-radius: .4rem;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
}

.hide{
    display: none;
}
